@model TrainTicketingSystem.App.Web.Models.LoginVM
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h4>Train Ticket</h4>
                    <h1>Book Your Tickets<br>Today</h1>
                </div>
                <div class="col-md-6 col-sm-12 col-md-offset-1">
                    <div class="main-box">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "LoginForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <span class="form-label">Email</span>
                                        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter login email" } })
                                        @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <span class="form-label">Password</span>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter password" })
                                        @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
                                    </div>
                                    <p class="text-danger" style="text-align: center">@ViewBag.Error</p>
                                    <p class="text-danger" style="text-align: center">@ViewBag.Exception</p>
                                    <div class="form-btn">
                                        <button class="submit-btn" id="SubmitBtn">Log in</button>
                                    </div>
                                    <a href="@Url.Action("Register", "User")">Don't have an account?</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>